# Manifest Validation Report

- 130123410--130123410_src_app_screens--ResumoApontamentoDetail.xmv.yaml: VALID - OK
- 130123410--130123410_src_app_screens--ResumoApontamentoSemanalDetails.xmv.yaml: VALID - OK
- 130123410--130123410_src_app_screens--ResumoBancoHorasDetails.xmv.yaml: VALID - OK
- 130123410--130123410_src_app_screens--ResumoBNCDetail.xmv.yaml: VALID - OK
- 130123410--130123410_src_app_screens--ResumoEspelhoLapsoDetails.xmv.yaml: VALID - OK
- 130123410--130123410_src_app_screens--ResumoEspelhoPontoDetails.xmv.yaml: VALID - OK
- 130123410--130123410_src_app_screens--ResumoLapsosSemanalDetails.xmv.yaml: VALID - OK
- 130123410--130123410_src_app_screens--ResumoPontoDetail.xmv.yaml: VALID - OK
- 130123410--130123410_src_app_screens--ResumoSubOSDetail.xmv.yaml: VALID - OK
- 130123410--130123410_src_app_screens--ResumoTermoCautelarDetail.xmv.yaml: VALID - OK
- 186123125--186123125_src_app_screens--MensagensAgendadaDetail.xmv.yaml: VALID - OK
- 186123125--186123125_src_app_screens--MensagensEnviadasDetail.xmv.yaml: VALID - OK
- 186123125--186123125_src_app_screens--MensagensRecebidasDetail.xmv.yaml: VALID - OK
- 186123125--186123125_src_app_screens--ResumoApontamentoDetail.xmv.yaml: VALID - OK
- 186123125--186123125_src_app_screens--ResumoCheckListDetail.xmv.yaml: VALID - OK

Total: 15, Failures: 0